{% if whitelist_url %}
<td style="padding: 0; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
    Add this sender to the 
    <a style="color:#4fba81;" href="{{ whitelist_url }}">whitelist</a>
    |
    <a style="color:#ee2c33;" href="{{ blacklist_url }}">blacklist</a>
</td>
{% endif %}