{% if whitelist_url %}
<div style="display: inline-block;">
    Add this sender to the 
    <a style="color:#4fba81;" href="{{ whitelist_url }}">whitelist</a>
    |
    <a style="color:#ee2c33;" href="{{ blacklist_url }}">blacklist</a>
</div>
{% endif %}