{% extends 'email/header/base.html.twig' %}

{% block footer %}
<div style="display: inline-block; width:35%; margin-right:10px;">
    <a style="color:#4fba81;">
        This sender hasn't verified
    </a>
</div>
{% include 'email_header/_whitelist_and_blacklist_sender.html.twig' %}
{% endblock %}
