{% extends 'email/header/with_profile.html.twig' %}

{% block footer %}
<table width="100%" border="0" cellspacing="0" cellpadding="0"  style="border-collapse:collapse;">
    <tr>
        <td style="width:35%; padding-right:10px;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif;">
            <a href="#none" style="color:#4fba81;">
                View full profile
            </a>
        </td>
        {% include 'email/header/_whitelist_and_blacklist_sender.html.twig' %}
    </tr>
</table>
{% endblock %}