<?php
use Access2Me\Helper\Template;
?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    </head>

    <body>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:13px; line-height:18px;">
            <tr>
                <td style="padding:0; vertical-align:top;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                        <tr>
                            <td style="background:#4fba81 none; padding:3px 15px;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                                    <tr>
                                        <td style="vertical-align:middle;">
                                            <?php foreach ($contact['profile_urls'] as $sid => $url): ?>
                                            <a href="<?php echo htmlentities($url); ?>" style="border-radius:50%; display:inline-block; margin-right:3px; border:1px solid #d1d1d1; overflow:hidden; width:20px; height:20px; font-size:0; line-height:0;vertical-align:middle;"><img style="width:20px; height:20px;" src="<?php echo htmlentities(Template::getServiceIcon($sid)); ?>" width="20" height="20" alt="" /></a>
                                            <?php endforeach; ?>
                                        </td>
                                        <td style="text-align:right"><a href="#none" style="font-size:0; line-height:0;"><img src="http://app.access2.me/images/logo.jpg" width="150" height="40" alt="Access2.me" /></a></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background:url(../../images/bg_header.gif) repeat 0 0; padding:6px 10px; color:#e5e5e5;font-size:12px; line-height:16px">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
                                    <tr>
                                        <td style="width:100px; vertical-align:top">
                                            <?php if ($contact['picture_url']): ?>
                                            <span style="border:3px solid #e1e0e0; float:left; position:relative;">
                                                <img style="width:75px;" src="<?php echo htmlentities($contact['picture_url']); ?>" alt="" />
                                            </span>
                                            <?php endif; ?>
                                        </td>
                                        <td style="vertical-align:top;">
                                            <p style="font-size:14px; font-weight:700; margin:0 0 4px;"><?php echo htmlentities($contact['full_name']); ?></p>
                                            <p style="margin:0">
                                                <?php if (!empty($contact['headline'])): ?>
                                                <?php echo htmlentities($contact['headline']) . '<br/>'; ?>
                                                <?php endif; ?>

                                                <?php if (!empty($contact['location'])): ?>
                                                <?php echo htmlentities($contact['location']) . '<br/>'; ?>
                                                <?php endif; ?>

                                                <a style="color:#4fba81;" href="mailto:<?php echo htmlentities($contact['email']); ?>"><?php echo htmlentities($contact['email']); ?></a>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                                
                                <table width="100%" border="0" cellspacing="0" cellpadding="0"  style="border-collapse:collapse; margin-top:10px;">
                                        <?php if (isset($contact['linkedin']->primaryTwitterAccount) || isset($contact['crunch_base'])) :?>
                                        <tr>
                                                <td style="padding:6px 0;border-top:1px solid #554a56; line-height:20px;">
                                                        <?php
                                                        if (isset($contact['linkedin']->primaryTwitterAccount)):
                                                        $account = $contact['linkedin']->primaryTwitterAccount;
                                                        ?>
                                                        <span style="float:left; width:35%; margin-right:10px;"><strong>Twitter account:</strong> 
                                                            <a style="color:#4fba81;" href="<?php echo htmlentities(Template::getTwitterProfileUrl($account['id'])); ?>">
                                                                <?php echo htmlentities($account['name']); ?>
                                                            </a>
                                                        </span>
                                                        <?php endif; ?>
                                                        
                                                        <?php
                                                        if (isset($contact['crunch_base'])):
                                                        $crunchBase = $contact['crunch_base'];
                                                        ?>
                                                        <span style="display:table-cell"><strong>CrunchBase:</strong><a style="color:#4fba81;" href="<?php echo htmlentities($crunchBase->homepageUrl); ?>"><?php echo htmlentities($crunchBase->name); ?></a> 
                                                            <span style="background:#655b67 none; display:inline-block; padding:1px 5px; color:#b7b7b7;">(total fundings: <strong style="color:#ee2c33; font-size:14px;">$<?php echo Template::formatMoney($crunchBase->totalFunding); ?></strong>)
                                                            </span>
                                                        </span>
                                                        <?php endif; ?>
                                                </td>
                                        </tr>
                                        <?php endif;?>
                                        
                                        <?php
                                        if (isset($contact['full_contact'])):
                                        $fullContact = $contact['full_contact'];
                                        ?>
                                        <tr>
                                                <td style="padding:6px 0; border-top:1px solid #554a56;color:#b7b7b7; line-height:20px;">
                                                        <?php if (isset($fullContact->gender)): 
                                                            if ($fullContact->gender == 'Male') {
                                                                $icon = 'male.png';
                                                            } else {
                                                                $icon = 'femail.png';
                                                            }
                                                        ?>
                                                        <span style="float:left; width:35%; margin-right:10px;"><strong>Gender:</strong> <span style="vertical-align:middle;font-size:0; line-height:0; display:inline-block;"><img src="http://app.access2.me/images/<?php echo $icon;?>" /></span></span>
                                                        <?php endif; ?>
                                                        
                                                        <?php if ($fullContact->socialProfiles) :?>
                                                        <span style="display:table-cell;">
                                                            <strong>Social Profiles:</strong> 
                                                            <?php foreach($fullContact->socialProfiles as $i=>$soc): ?>
                                                            <a href="<?php echo htmlentities($soc['url']); ?>" style="border-radius:50%; display:inline-block; margin-right:3px; border:1px solid #d1d1d1; overflow:hidden; width:20px; height:20px; font-size:0; line-height:0; vertical-align:middle;">
                                                                <img style="width:20px; height:20px;" src="<?php echo htmlentities(Template::getSocialIcon($soc['typeId'])); ?>" width="20" height="20" alt="<?php echo htmlentities($soc['typeName']); ?>" />
                                                            </a> 
                                                            <?php endforeach; ?>
                                                        <?php endif; ?>
                                                </td>
                                        </tr>
                                        <?php endif;?>
                                        
                                        <tr>
                                                <td style="padding:6px 0 0;border-top:1px solid #554a56; line-height:25px;">
                                                        <span style="float:left; width:35%; margin-right:10px;"><a href="#none" style="color:#4fba81;"><span style="display:inline-block; font-size:0; line-height:0; overflow:hidden; border-radius:50%; width:25px; height:25px; vertical-align:middle;">
                                                            <?php if ($contact['picture_url']): ?>
                                                            <img style="width:25px; height:25px;" src="<?php echo htmlentities($contact['picture_url']); ?>" alt="" />
                                                            <?php endif;?>
                                                            </span> View full profile</a>
                                                        </span>
                                                        <?php require(__DIR__ . '/_whitelist_sender.html'); ?>
                                                </td>
                                        </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
                
<!--                <?php if ($contact['picture_url']): ?>
                <td>
                    <img src="<?php echo htmlentities($contact['picture_url']); ?>" nosend="1" border="0" width="80" height="80" alt="photo">
                </td>
                <?php endif; ?>
                <td>
                    <table cellspacing="0" cellpadding="0" border="0" width="380">
                        <tr>
                            <td width="7"></td>
                            <td width="370" align="left">
                                <?php foreach ($contact['profile_urls'] as $sid => $url): ?>
                                <a href="<?php echo htmlentities($url); ?>"><img src="<?php echo htmlentities(Template::getServiceIcon($sid)); ?>" nosend="1" border="0" width="16" height="16"></a>
                                <?php endforeach; ?>
                            </td>
                        </tr>
                    </table>
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td width="13"></td>
                            <td>
                                <div style="text-align: left; color: #000000; font-family: Arial, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; margin-top: 0px;">
                                    <div style="font-size: 12pt; font-weight: bold;">
                                        <?php echo htmlentities($contact['full_name']); ?>
                                    </div>

                                    <div>
                                        <?php if (!empty($contact['headline'])): ?>
                                        <?php echo htmlentities($contact['headline']); ?>
                                        <?php endif; ?>
                                        <?php if (!empty($contact['location'])): ?>
                                        <?php echo htmlentities($contact['location']); ?>
                                        <?php endif; ?>
                                        <br />
                                        <a style="text-decoration: none; color: #808080" href="mailto:<?php echo htmlentities($contact['email']); ?>">
                                            <?php echo htmlentities($contact['email']); ?>
                                        </a>
                                    </div>

                                    <?php
                                    if (isset($contact['linkedin']->primaryTwitterAccount)):
                                    $account = $contact['linkedin']->primaryTwitterAccount;
                                    ?>
                                    <div>
                                        Twitter account:
                                        <a href="<?php echo htmlentities(Template::getTwitterProfileUrl($account['id'])); ?>">
                                            <?php echo htmlentities($account['name']); ?>
                                        </a>
                                    </div>
                                    <?php endif; ?>

                                    <?php
                                    if (isset($contact['angel_list'])):
                                    $angelList = $contact['angel_list'];
                                    ?>
                                    <div>AngelList: 
                                        <a href="<?php echo htmlentities($angelList['company_url']); ?>">
                                            <?php echo htmlentities($angelList['name']); ?>
                                        </a>
                                        <?php if ($angelList['fundraising']): ?>
                                        ( fund-raised <?php echo Template::formatMoney($angelList['fundraising']['raised_amount']); ?> of <?php echo Template::formatMoney($angelList['fundraising']['raising_amount']); ?> )
                                        <?php endif; ?>
                                    </div>
                                    <?php endif; ?>

                                    <?php
                                    if (isset($contact['crunch_base'])):
                                    $crunchBase = $contact['crunch_base'];
                                    ?>
                                    <div>CrunchBase list:
                                        <a href="<?php echo htmlentities($crunchBase->homepageUrl); ?>">
                                            <?php echo htmlentities($crunchBase->name); ?>
                                        </a>
                                        ( total fundings: $<?php echo Template::formatMoney($crunchBase->totalFunding); ?>)
                                    </div>
                                    <?php endif; ?>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <?php
                    if (isset($contact['full_contact'])):
                    $fullContact = $contact['full_contact'];
                    ?>
                    <fieldset style="border-radius: 5px;">
                        <legend>Internet provided info</legend>
                        <?php if (isset($fullContact->fullName)): ?>
                        <div><b>Name:</b> <?php echo htmlentities($fullContact->fullName); ?></div>
                        <?php elseif (isset($fullContact->firstName) || isset($fullContact->firstName)): ?>
                        <div>
                            <b>Name:</b>
                            <?php if (isset($fullContact->firstName)) echo htmlentities($fullContact->firstName); ?>
                            <?php if (isset($fullContact->lastName)) echo htmlentities($fullContact->lastName); ?>
                        </div>
                        <?php endif; ?>
                        <?php if (isset($fullContact->gender)): ?>
                        <div><b>Gender:</b> <?php echo htmlentities($fullContact->gender); ?></div>
                        <?php endif; ?>
                        <?php
                        if ($fullContact->photos):
                        $photo = $fullContact->photos[0];
                        ?>
                        <div>
                            <b>Photo:</b>
                            <div style="border: 1px solid gray; display: inline-block; height: 50px; margin-bottom: 2px; margin-right: 4px; line-height: 50px; padding: 2px; text-align: center; width: 50px;">
                                <a href="<?php echo htmlentities($photo['url']); ?>" style="border: 0px;">
                                    <img src="<?php echo htmlentities($photo['url']); ?>" style="max-height: 50px; max-width: 50px; vertical-align: middle;">
                                </a>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($fullContact->socialProfiles): ?>
                        <div>
                            <b>Social profiles:</b>
                            <?php foreach($fullContact->socialProfiles as $i=>$soc): ?>
                            <a href="<?php echo htmlentities($soc['url']); ?>">
                                <img src="<?php echo htmlentities(Template::getSocialIcon($soc['typeId'])); ?>" alt="<?php echo htmlentities($soc['typeName']); ?>" style="height: 32px; width: 32px;" />
                                </a>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                        <?php if ($fullContact->messengers): ?>
                        <div>
                            <div style="display: inline-block; font-weight: bold; padding-top: 0.4em; vertical-align: top">Messenger:</div>
                            <div style="display: inline-block">
                                <?php foreach($fullContact->messengers as $i=>$messg): ?>
                                <div>
                                    <img src="<?php echo htmlentities(Template::getMessengerIcon($messg['client'])); ?>" alt="<?php echo htmlentities($messg['handle']); ?>" style="height: 32px; width: 32px; vertical-align: middle"/>
                                    <span style="vertical-align: middle"><?php echo htmlentities($messg['handle']); ?></span>
                                </div>
                                <?php endforeach; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                        <?php if ($fullContact->websites): ?>
                        <div>
                            <b>Websites:</b>
                            <?php foreach($fullContact->websites as $i=>$site): ?>
                            <?php if ($i != 0) echo '/'; ?>
                            <a href="<?php echo htmlentities($site); ?>">
                                <?php echo htmlentities($site); ?>
                            </a>
                            <?php endforeach; ?>
                        </div>
                        <?php endif; ?>
                    </fieldset>
                    <?php endif; ?>
                </td>
                <td>
                    <img src="http://app.access2.me/img/a2mbanner.png" border="0">
                </td>

                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td style="padding-left: 0px;" width="400">
                            <span style="color: #8A8A8A; font-family: 'Calibri', sans-serif; font-size: 8pt; font-weight: regular;">
                                <?php if (!empty($contact['summary'])): ?>
                                <strong><?php echo htmlentities($contact['summary']); ?></strong>
                                <?php endif; ?>
                            </span>
                        </td>
                    </tr>
                </table>

                <?php if (isset($data['failed_filters'])): ?>
                <div>This message failed to pass through the following rules:</div>
                <ul>
                    <?php foreach ($data['failed_filters'] as $filter): ?>
                    <li><?php echo htmlspecialchars($filter); ?></li>
                    <?php endforeach; ?>
                </ul>
                <?php require(__DIR__ . '/_whitelist_sender.html'); ?>
                <?php endif; ?>-->

            </tr>
        </table>
    </body>
</html>