<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Access2Me: Sender verification</title>
</head>
<body>
    <div>
        <h3>Hello {{ sender_email }}</h3>
        {{ recipient_email }} has requested that you verify your identity before communicating with them.<br /><br />
        Please click <a href="{{ sender_verification_url }}">here</a> to verify your identity by logging into your LinkedIn, Facebook, Twitter or Google account.
    </div>
</body>
</html>
