<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Congratulations, Access2.me Has Validated You!</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
</head>

<body>
    <center>

    <br />
    <h1 style="color: #ffffff;">Congratulations, Access2.me Has Validated You!</h1>

      <div class="box">
        <?php if ($contact['picture_url']): ?>
        <div class="userbox">
          <div class="pic"><img src="<?php echo htmlentities($contact['picture_url']); ?>"></div>
        </div>
        <?php endif; ?>
        <p>
            <span class="user">
               <strong><?php echo htmlentities($contact['first_name']) . " " . htmlentities($contact['last_name']); ?></strong>
               <br />
               <?php if ($contact['headline'] && $contact['industry']): ?>
               <?php echo htmlentities($contact['headline']) . " (" . htmlentities($contact['industry']) . ")"; ?>
               <?php endif; ?>
               <br />
               <?php if ($contact['location']): ?>
               <?php echo htmlentities($contact['location']); ?>
               <?php endif; ?>
               <br />
            </span>
        </p>
      </div>

    </center>
</body>

</html>