<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Congratulations, Access2.me Has Validated You!</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
</head>

<body>
    <center>

    <br />
    <h1 style="color: #ffffff;">Congratulations, Access2.me Has Validated You!</h1>

      <div class="box">
        <?php if (isset($profile->pictureUrl)): ?>
        <div class="userbox">
            <div class="pic"><img src="<?php echo htmlentities($profile->pictureUrl); ?>"></div>
        </div>
        <?php endif; ?>
        <p>
            <span class="user">
                <strong><?php echo htmlentities($profile->fullName); ?></strong>
                <br />
                <?php if ($profile->profileUrl): ?>
                Profile: <a href="<?php echo htmlentities($profile->profileUrl); ?>" target="_blank">link</a>
                <?php endif; ?>
                <br />
                <?php if (property_exists($profile, 'summary') && !empty($profile->summary)): ?>
                Summary: <?php echo htmlentities($profile->summary); ?>
                <?php endif; ?>
                <br />
                <?php if ($profile->biography): ?>
                Biography: <?php echo htmlentities($profile->biography); ?>
                <?php endif; ?>
                <br />
                <?php if ($profile->location): ?>
                Location: <?php echo htmlentities($profile->location); ?>
                <?php endif; ?>
                <br />
                <?php if ($profile->website): ?>
                Website: <?php echo htmlentities($profile->website); ?>
                <?php endif; ?>
                <br />
            </span>
        </p>
      </div>

    </center>
</body>

</html>