<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Blacklist sender</title>
    <link rel="stylesheet" type="text/css" href="css/profile.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <div id="wrapper">
        <div id="container">
            <div id="content">
                <div class="top"></div>

                <div class="middle">
                    <?php if (isset($saved)): ?>
                    <div class="post">
                        <div style="font-size: x-large">
                            Sender's address (<?php echo htmlentities($sender); ?>) added to your blacklist.
                        </div>
                        <div class="clear"></div>
                    </div>
                    <?php else: ?>
                    <div class="post">
                        <h2>Blacklisting sender</h2>
                        <div class="clear"></div>
                    </div>

                    <div class="post" style="margin: 1em auto">
                        <form method="POST">
                            <input type="hidden" name="token" value="<?php echo htmlspecialchars($token); ?>" />
                            <input type="hidden" name="email" value="<?php echo htmlspecialchars($email); ?>" />
                            <input type="hidden" name="access" value="2" />
                            <div style="margin: auto; text-align: left; width: 60%">
                                <div style="margin-bottom: 0.5em">
                                    Blacklist email (<?php echo htmlentities($email); ?>)
                                    <input type="submit" name="temail" value="Blacklist" />
                                </div>
                                <div>
                                    Blacklist domain (<?php echo htmlentities($domain); ?>)
                                    <input type="submit" name="tdomain" value="Blacklist" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <?php endif; ?>
                    <div class="clear"></div>
                </div>
                
                <div class="bottom"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>

</html>