<?php
use Access2Me\Helper\Template;
?>
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
        a {color: #808080;}
    </style>
</head>
<body>
    <table cellspacing="0" cellpadding="0" border="0" width="380">
        <tr>
            <?php if ($contact['picture_url']): ?>
            <td>
                <img src="<?php echo htmlentities($contact['picture_url']); ?>" nosend="1" border="0" width="80" height="80" alt="photo">
            </td>
            <?php endif; ?>
            <td>
                <table cellspacing="0" cellpadding="0" border="0" width="380">
                    <tr>
                        <td width="7"></td>
                        <td width="370" align="left">
                            <?php foreach ($contact['profile_urls'] as $sid => $url): ?>
                            <a href="<?php echo htmlentities($url); ?>"><img src="http://app.access2.me/images/<?php echo htmlentities(Template::getServiceImage($sid)); ?>" nosend="1" border="0" width="16" height="16"></a>
                            <?php endforeach; ?>
                            <img src="http://app.access2.me/images/clear.gif" nosend="1" border="0" width="3" height="1">
                        </td>
                        <td width="10">
                            <br>
                        </td>
                        <td>
                            <span style="line-height: 2px; font-size: 2px;">
                                &nbsp;<br>
                            </span>
                        </td>
                    </tr>
                </table>
                <table cellspacing="0" cellpadding="0" border="0">
                    <tr>
                        <td width="13"></td>
                        <td>
                            <div style="text-align: left; color: #000000; font-family: Arial, sans-serif; font-size: 8pt; font-style: normal; font-weight: normal; margin-top: 0px;">
                                <div style="font-size: 12pt; font-weight: bold;">
                                    <?php echo htmlentities($contact['full_name']); ?>
                                </div>

                                <div>
                                    <?php if (!empty($contact['headline'])): ?>
                                    <?php echo htmlentities($contact['headline']); ?>
                                    <br />
                                    <?php endif; ?>
                                    <?php if (!empty($contact['location'])): ?>
                                    <?php echo htmlentities($contact['location']); ?>
                                    <?php endif; ?>
                                    <br />
                                    <a style="text-decoration: none; color: #808080" href="mailto:<?php echo htmlentities($contact['email']); ?>">
                                        <?php echo htmlentities($contact['email']); ?>
                                    </a>
                                </div>

                                <?php if (isset($contact['angel_list'])): ?>
                                <div>Company url:
                                    <a href="<?php echo htmlentities($contact['angel_list']['company_url']); ?>">
                                        <?php echo htmlentities($contact['angel_list']['domain']); ?>
                                    </a>
                                </div>
                                <?php endif; ?>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
           <td>
              <img src="http://app.access2.me/img/a2mbanner.png" border="0">
           </td>
        </tr>
    </table>

    <table cellspacing="0" cellpadding="0" border="0">
        <tr>
            <td style="padding-left: 0px;" width="400">
                <span style="color: #8A8A8A; font-family: 'Calibri', sans-serif; font-size: 8pt; font-weight: regular;">
                   <?php if (!empty($contact['summary'])): ?>
                   <strong><?php echo htmlentities($contact['summary']); ?></strong>
                   <?php endif; ?>
                </span>
            </td>
        </tr>
    </table>

    <?php if (isset($data['failed_filters'])): ?>
    <div>This message failed to pass through the following rules:</div>
    <ul>
        <?php foreach ($data['failed_filters'] as $filter): ?>
        <li><?php echo htmlspecialchars($filter); ?></li>
        <?php endforeach; ?>
    </ul>
    <?php require(__DIR__ . '/_whitelist_sender.html'); ?>
    <?php endif; ?>
    <hr>
 <br />
</body>
</html>