<div class="jumbotron">
    <h1>Hello {{ user.name }}.</h1>
    <p>
        You have successfully registered on access2.me.<br />
        Now we need you to grant access2.me permission to access your mailbox.
    </p>
    <p><a class="btn btn-primary btn-lg" href="{{ gmail_settings_url }}" role="button">Grant</a></p>
</div>